 <!--footer.ejs | Lyndsay Riches | 301271507 | September 26, 2023 -->

<footer>
    <div class="row center">
        <div class="col-6">
            <p>&copy;2023 Lyndsay Riches | 301271507 | All rights reserved</p>
        </div>
        <div class="col-6">
            <a href="https://www.instagram.com/lyndsayrichesdesigns/"><i class="fa-brands fa-instagram fa-2xl social-icons" style="color: #ffffff;"></i></a>
            <a href="https://lynzriches.itch.io/"><i class="fa-brands fa-itch-io fa-2xl social-icons" style="color: #ffffff;"></i></a>
            <a href="https://www.behance.net/lynzriches"><i class="fa-brands fa-square-behance fa-2xl social-icons" style="color: #ffffff;"></i></a>
        </div>
    </div>
</footer>

</div><!--END MAIN CONTAINER DIV FROM HEADER FILE -->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>