<!--header.ejs | Lyndsay Riches | 301271507 | September 26, 2023 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyndsay Riches | Graphic Designer & Game Developer | <%= title %></title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="@fortawesome/fontawesome/styles.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
<!--Import Google Font references -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@400;600&display=swap');
    </style>

<!--Fontawesome script for various icons-->
    <script src="https://kit.fontawesome.com/4b4b64932e.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">